* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5% /* 10px */;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;

  padding: 6rem 2.3rem 6.6rem;

  background: #ece9fd;
}

main {
  max-width: 33rem;

  margin: 0 auto;
}

p:first-child {
  font-weight: normal;
  line-height: 3.2rem;

  letter-spacing: 3px;
  text-transform: uppercase;

  margin-bottom: 1.7rem;

  color: #7158ef;
}

h1 {
  font-weight: 800;
  font-size: 4rem;

  line-height: 4.8rem;

  margin-bottom: 1.5rem;

  color: #090039;
}

h1 + p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;

  margin-bottom: 3.2rem;

  color: rgba(10, 0, 57, 0.64);
}

a {
  font-weight: normal;
  font-size: 1.6rem;

  line-height: 3.2rem;

  color: #7158ef;
}

a:hover {
  font-weight: bold;
}

ul {
  margin-top: 7.7rem;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;

  max-width: 25.7rem;

  color: #090039;

  display: flex;

  gap: 3.8rem;
}

ul li:first-child span {
  margin-right: 1.2rem;
}

ul li + li {
  margin-top: 3.2rem;
}

li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;

  letter-spacing: -2px;

  color: #090039;
}

@media (min-width: 700px) {
  body {
    padding: 8rem;
  }

  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > div {
    max-width: 484px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }
}
